<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |sessions| %>
      <tr>
        <td><%= link_to 'Show', sessions %></td>
        <td><%= link_to 'Edit', edit_sessions_path(sessions) %></td>
        <td><%= link_to 'Destroy', sessions, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_sessions_path %>
