<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :username, class: "label" %>
    <div class="control">
      <%= f.text_field :username, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, class: 'label' %>
    <div class="control">
      <%= f.password_field :password, class: 'input' %>
    </div>
  </div>
  <div>
    <input type="submit" name="commit" value="Update Account" class="button is-primary" data-disable-with="Update Account">
  </div>
<% end %>
