<nav>
  <ul class="left">
    <li class="button "><%= link_to 'Home', home_path%></li>
    <li class="button "> <%= link_to 'About', about_path %></li>
    <li class="button "> <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">COVID-19 Info</a> </li>
  </ul>
  <%=  link_to image_tag('qt-logo.png', alt: "QTime logo"), home_path, :class => "logo"%>
  <ul class="right">    
    <li class="button "><a href="#">Stores</a></li>
    <li class="button "><%= link_to "Login", login_path %></li>
    <li class="button " id="signin"><%= link_to "Sign Up", new_user_path %></li>
  </ul>
</nav>